body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.side-allPage {
  min-height: 100vh;
}

.product img {
  max-width: 400px;
  border-radius: 5px;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px #404040 solid;
  box-sizing: border-box;
}

main {
  flex: 1;
}

.productDesc {
  padding: 1rem;
}

.rating span {
  color: #ffc000;
}

.btn-primary,
.btn-outline-primary {
  background-color: #f0c040;
  color: #000000;
  border-width: 0px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-outline-primary:hover,
.btn-outline-primary:focus {
  background-color: #d3a62c;
}

.product-card {
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  box-shadow: none;
  transform: scale(1);
}
.product-card:hover {
  box-shadow: 10px 10px 10px #888888;
  transform: scale(1.02);
}

.card-img-top {
  object-fit: cover;
  object-position: center; 
  width: 100%;
  height: 500px;
}

.img-thumbnail {
  height: 170px;

}
